<div>
  <h1>{{router.url.replace('/','')}}</h1>
  <a [routerLink]="[router.url + '/crear/tema']">
    <button mat-raised-button color="primary">Crear tema</button>
  </a>
  <ul id="list-user">
    <li *ngFor="let item of tema">
      <mat-card class="tema-card" [ngStyle]="{'backgroundColor':item.aprobado? 'green':'red'}">
        <mat-card-header>
          <mat-card-title>{{item.titulo}}</mat-card-title>
          <mat-card-subtitle>{{item.fechaPublicacion}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>
            {{item.contenido}}
          </p>
          <p>
            {{item.ranking}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button [routerLink]="[router.url + '/' + item.id]" color="accent">Ver mas</button>
          <div id="verificacion" *ngIf="!item.aprobado">
            <button mat-raised-button color="primary" (click)="verificar(item.id)">Aceptar</button>
            <button mat-raised-button color="warn" (click)="denegar(item.id)">Denegar</button>
          </div>
        </mat-card-actions>
      </mat-card>
      <mat-divider></mat-divider>
    </li>
  </ul>
</div>

